<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Recomendación de videojuegos de Steam </title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">

</head>

<body>
  <div class="login">
    <h1>Recomendador de videojuegos</h1>

    <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}" method="POST">
      <input type="text" name="genre" placeholder="Género del juego" required="required" /><br>
      <input type="text" name="price_final" placeholder="Precio del juego" required="required" /><br>
      <input type="text" name="win" placeholder="Windows" required="required" /><br>
      <input type="text" name="mac" placeholder="Mac" required="required" /><br>
      <input type="text" name="linux" placeholder="Linux" required="required" /><br>
      <input type="hidden" name="positive_ratio" placeholder="positive_ratio" value="1"/><br>
      
      <button type="submit" class="btn btn-primary btn-block btn-large">Recomendar</button>
    </form>

    <br>
    <br>


  </div>
  {{pred}}

</body>

</html>